.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  width: 100%;

  background: rgba(255, 255, 255, 0.95);

  border-bottom: 1px solid var(--border);

  backdrop-filter: blur(12px);
}

.navbar-container {
  width: min(92%, var(--container));

  min-height: 75px;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 30px;
}

/* Logo */

.logo {
  color: var(--dark);

  font-size: 26px;
  font-weight: 800;

  letter-spacing: -1px;
}

.logo span {
  color: var(--primary);
}

/* Navigation */

.nav-links {
  display: flex;
  align-items: center;

  gap: 30px;
}

.nav-link {
  position: relative;

  padding: 8px 0;

  color: var(--text);

  font-size: 15px;
  font-weight: 600;

  transition: var(--transition);
}

.nav-link:hover {
  color: var(--primary);
}

.nav-link.active {
  color: var(--primary);
}

.nav-link.active::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: 0;

  width: 100%;
  height: 2px;

  background: var(--primary);

  border-radius: 5px;
}

/* CTA */

.nav-cta {
  padding: 11px 20px;

  background: var(--primary);

  color: var(--white);

  border-radius: var(--radius-sm);

  font-size: 14px;
  font-weight: 700;

  transition: var(--transition);
}

.nav-cta:hover {
  background: var(--primary-dark);

  transform: translateY(-2px);
}